*{
    margin: 0;
    padding: 0;
}
body
{
    padding: 10px;
}

/* Header part */
.signoff-div
{
    display: flex;justify-content: right;
}
#signoff
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1vw;
}
#signoff:hover
{
    color: rgb(247, 59, 222);
}

.head-container
{
    background-color: #fffff0;
    border: 4px solid;
    border-style: double;
}
.head-container p
{
    color: blue;
    text-align: center;
    font-size: 1.4vw;
    font-weight: bold;
    margin: 5px;
}
.header-content ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    list-style-type: none;
    font-size: 1vw;
    font-weight: bold;
}

/* student details part */
.stud-info
{
    display: grid;
    grid-template-columns: 50vw auto;
    margin: 10px 0;
    border: 3px groove;
    background-color: #fffff0;
}
.stud-info table
{
    min-width: 100%;
}
.info-table
{
    max-width: 100%;
    border-right: 4px groove;
}
.changes-table
{
    max-width: 100%;
    text-align: center;
}
table td
{
    font-size: 1vw;    
}
.info-table td
{
    padding: 5px;
}
caption
{        
    text-align: center;
    background-color: #e0ad5b;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 5px;
}
#inner-table 
{
    border: 1px solid;
    margin: 10px 0;
}
#inner-table th
{
    border: 1px solid;
    font-weight: 400;
    font-size: 1vw;
    padding: 5px 0;
}
#inner-table td 
{
    padding: 10px 0;
    border: 1px solid;
    background-color: #87cefa;
}

/* courses registration details part */
.registration-details
{
    background-color: #fffff0;
}
.registration-details p
{    
    margin: 20px 0;
    background-color: #e0ad5b;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 1.4vw;
}
.td1 
{
    width: 20vw;
}
.td2
{
    width: 15vw;    
    font-weight: bold;
}

.td3 table td
{
    background-color: #d2eafa;    
    font-weight: bold;
    padding: 5px 0;
    width: 7vw;
}
#print
{
    display: block;
    text-align: center;
    margin: 10px;
}
#print input
{
    cursor: pointer;
    padding: 0 5px;
}
.span-div
{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.1vw;
}
.compul, .elec
{
    background-color: #fffff0;
    width: 10vw;
    margin: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
#div1, #div2
{
    width: 20px;
    height: 25px;
    display: inline-block;
}
#div1
{
    background-color:#d2eafa;
}
#div2
{
    background-color: #d6ffa9;
}

/* Links to other pages - part*/
.links-div
{
    background-color: #fffff0;
    display: grid;
    grid-template-columns: 50vw auto;
    grid-gap: 10px;
    font-size: 1.2vw;
    margin: 20px 0;
}
.links-div h1
{
    background-color: #e0ad5b;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}
.links-div a
{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1vw;
    padding: 5px 0;
}
.links-div a:hover
{
    color: rgb(247, 59, 222);
}
.info a
{
    display: inline;
    text-decoration: underline;
    color: blue;
    font-weight: 400;
}