
header
{
    text-align: center;
}
.container
{
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 50vw;
    border: 1px solid;
    background-color: #fffff0;
    padding: 1px;
    font-size: 1.1vw;
}
.container p
{
    text-align: center;
}
input, select
{
    width: 10vw;
    height: 10px;
    -moz-appearance: textfield;
}
.container-div
{
    border: 1px solid;
    margin: 1px;
    padding: 2px;
}
.div5, .div6
{    
    text-align: center;
    grid-column: 1/3;
}
.div6
{
    padding: 10px;
}
#p1
{
    color: green;
    font-weight: bold;
}
#submit
{
    border: 1px solid gray;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(53, 50, 50);
    background-color: white;
    font-size: 1.1vw;
}